/*
 * Teen v2.0
 * By @atechninfo
 * Github: http://github.com/atechninfo/
 * Source Code: https://github.com/atechninfo/Shla
 */
 
.-oflw {
overflow:hidden!important
}

.-oflw-x {
overflow-x:hidden!important
}

.-oflw-y {
overflow-y:hidden!important
}

.oflw {
overflow:visible!important
}

.oflw-x {
overflow-x:visible!important
}

.oflw-y {
overflow-y:visible!important
}

.auto-oflw {
overflow:auto!important
}

.auto-oflw-x {
overflow-x:auto!important
}

.auto-oflw-y {
overflow-y:auto!important
}

.pdn {
padding:10px!important
}

.-pdn {
padding:0!important
}

.-pdn-t {
padding-top:0!important
}

.pdn-t {
padding-top:10px!important
}

.-pdn-b {
padding-bottom:0!important
}

.pdn-b {
padding-bottom:10px !important;
}

.-pdn-r {
padding-right:0!important
}

.pdn-r {
padding-right:10px!important
}

.-pdn-l {
padding-left:0!important
}

.pdn-l {
padding-left:10px!important
}

.bx-pdn {
padding:2px!important
}

.-flt {
float:none!important
}

.right {
float:right!important
}

.left {
float:left!important
}

.auto-mrgn {
margin:auto!important
}

.auto-mrgn-t {
margin-top:auto!important
}

.auto-mrgn-b {
margin-bottom:auto!important
}

.auto-mrgn-r {
margin-right:auto!important
}

.auto-mrgn-l {
margin-left:auto!important
}

.bx-mrgn {
margin:2px!important
}

.mrgn {
margin:10px!important
}

.-mrgn {
margin:0!important
}

.-mrgn-t {
margin-top:0!important
}

.mrgn-t {
margin-top:10px!important
}

.-mrgn-b {
margin-bottom:0!important
}

.mrgn-b {
margin-bottom:10px!important
}

.-mrgn-r {
margin-right:0!important
}

.mrgn-r {
margin-right:10px!important
}

.-mrgn-l {
margin-left:0!important
}

.mrgn-l {
margin-left:10px!important
}

.-brdr {
border:none!important
}

.-br {
border-radius:0!important;
border-radius:2px!important
}

.-bg {
background:none!important
}

.-bg-img {
background-image:none!important
}

.-dsply,.hide {
display:none!important
}

.dsply,.show {
display:block!important
}

.v-hide {
visibility:hidden!important
}

.v-show {
visibility:visible!important
}

.opcty {
opacity:1!important
}

.-opcty {
opacity:0!important
}

.p-abs {
position:absolute!important
}

.p-fxd {
position:fixed!important
}

.p-rltv {
position:relative!important
}

.p-stc {
position:static!important
}

.-t {
top:0!important
}

.t {
top:10%!important
}

.mx-t {
top:100%!important
}

.-b {
bottom:0!important
}

.b {
bottom:10%!important
}

.mx-b {
bottom:100%!important
}

.-r {
right:0!important
}

.r {
right:10%!important
}

.mx-r {
right:100%!important
}

.-l {
left:0!important
}

.l {
left:10%!important
}

.mx-l {
left:100%!important
}

.-p {
top:0!important;
bottom:0!important;
right:0!important;
left:0!important
}

.p {
top:10%!important;
bottom:10%!important;
right:10%!important;
left:10%!important
}

.mx-p {
top:100%!important;
bottom:100%!important;
right:100%!important;
left:100%!important
}

.w {
width:40px!important
}

.h {
height:40px!important
}

.mx-w {
width:100%!important
}

.mx-h {
height:100%!important
}

.-w {
width:0!important
}

.-h {
height:0!important
}

.mx-s {
width:100%!important;
height:100%!important
}

.-s {
width:0!important;
height:0!important
}

.s {
width:40px!important;
height:40px!important
}

.mx-z {
z-index: 500!important
}

.-z {
z-index: -1!important
}

.z {
z-index: 1!important
}
